@import "tailwindcss";

@theme {
  --color-background: #0F0A1F;
  --color-foreground: #F8FAFC;
  --color-accent: #f43f5e;
}

@layer base {
  body {
    @apply bg-background text-foreground selection:bg-accent/30;
  }
}